/* Resetando css padrão */
*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url(img/akatsuki-minimalist.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Exportando Fonte */
@font-face {
  font-family: Asian;
  src: url('./font/aAsianNinja.ttf');
}

/* Principal */
.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  padding: 2rem;
  font-family: Asian, sans-serif;
  font-size: 3rem;
  text-shadow: 3px 3px 0px yellow;
}

input{
  max-width: 50%;
  margin-bottom: 3rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  border: 2px solid black;
  border-radius: 0.5rem;
  color: black;
  background: transparent;
}
::-webkit-input-placeholder {
  color: black;
}

:-moz-placeholder { /* Firefox 18- */
  color: black;  
}



.carregando{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Lista de animes */
.animes-list{
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  list-style:none;
  grid-gap: 1.5rem;
  
}

.animes-list li{
  padding: 1rem;
  background-color: #0000009e;
  border-radius: 0.5rem;
  cursor: pointer;
}

.animes-list li:hover{
  background-color: black;
}
.animes-list img{
  max-width: 100%;
  border-radius: 0.5rem;
}

.animes-list h2{
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}


/* Paginação */
.pagination {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.pagination li + li {
  margin-left: 1rem;
}

.pagination li button{
  font-size: 1rem;
  padding: 0.3rem;
  cursor: pointer;
}
.pagination__item--active{
  background: none;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid black;
}

.pagination__item--active:focus{
  outline: none;
}